// GLOBAL SETTINGS //

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// END GLOBAL SETTINGS //


// OPENING PAGE //

.semmi {
}

.opening-screen {
    height: 100vh;
    width: 100vw;
    background-color: #cff3e0;
}

.start-btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 2rem 5rem;
    border-radius: 10rem;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .2s;
    font-size: 3rem;
    border: none;
    cursor: pointer;

    background-color: #323d49;
    color: #f90a44;
}

.start-btn:hover {
    font-size: 7rem;
    padding: 2.5rem 5.5rem;
}

@keyframes welcomeAnimation1 {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes welcomeAnimation2 {
    0% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(1.2);
    }
}

.welcome1,
.welcome2 {
    padding-top: 5rem;
    text-align: center;
    font-size: 2.5rem;
    color: #323d49;
    text-transform: uppercase;
}

.welcome1 {
    animation-name: welcomeAnimation1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.welcome2 {
    animation-name: welcomeAnimation2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


// END OPENING PAGE //

// GAME PAGE //

.semmi{
}

.game-container {
    height: 100vh;
    width: 100vw;
}

.game-options {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.game-options-btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 10rem;
    display: inline-block;
    position: absolute;
    transition: all .2s;
    font-size: 1.8rem;
    border: none;
    cursor: pointer;

    background-color: #323d49;
    color: #f90a44;
}

.game-options-btn:hover {
    font-size: 2rem;
    padding: 1.1rem 2.2rem;
}

.game-board {
    height: 85%;
    width: 100%;
    background-color: #a7615b;
}