<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragment/head.html"></div>
</head>
<body>
<main>
    <div class="game-container">
        <div class="game-options">
            <button class="game-options-btn">Set difficulty</button>
            <button class="game-options-btn">Hardcore mode</button>
            <button class="game-options-btn">Timed mode</button>
            <button class="game-options-btn">Exit</button>
        </div>
        <div class="game-board">
            The game board will appear here later.
        </div>
    </div>
</main>
</body>
</html>
